In [1]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

In [2]:
df = pd.read_csv('data.csv')
df.head(1)

,title,price_in_aed,kilometers,body_condition,mechanical_condition,seller_type,body_type,no_of_cylinders,transmission_type,regional_specs,horsepower,fuel_type,steering_side,year,color,emirate,motors_trim,company,model,date_posted
0,MITSUBISHI PAJERO 3.5L / 2013,"26,000",167390,Perfect inside and out,Perfect inside and out,Dealer,SUV,6,Automatic Transmission,GCC Specs,Unknown,Gasoline,Left Hand Side,2013.0,Silver,Dubai,GLS,mitsubishi,pajero,13/05/2022

In [3]:
df.shape

(9970, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9970 entries, 0 to 9969
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 9965 non-null   object
 1   price_in_aed          9970 non-null   object
 2   kilometers            9970 non-null   int64
 3   body_condition        9970 non-null   object
 4   mechanical_condition  9970 non-null   object
 5   seller_type           9970 non-null   object
 6   body_type             9970 non-null   object
 7   no_of_cylinders       9911 non-null   object
 8   transmission_type     9970 non-null   object
 9   regional_specs        9970 non-null   object
 10  horsepower            9970 non-null   object
 11  fuel_type             9970 non-null   object
 12  steering_side         9970 non-null   object
 13  year                  9000 non-null   float64
 14  color                 9970 non-null   object
 15  emirate               9970 non-null   object
 16  motors_trim           9942 non-null   object
 17  company               9970 non-null   object
 18  model                 9970 non-null   object
 19  date_posted           9970 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.5+ MB

In [5]:
essential_fields = ['company', 'model', 'year', 'color', 'body_type', 'no_of_cylinders',
                    'transmission_type', 'horsepower', 'fuel_type', 'steering_side', 'body_condition',
                    'mechanical_condition', 'kilometers', 'price_in_aed']

df = df[essential_fields]
df.head()

,company,model,year,color,body_type,no_of_cylinders,transmission_type,horsepower,fuel_type,steering_side,body_condition,mechanical_condition,kilometers,price_in_aed
0,mitsubishi,pajero,2013.0,Silver,SUV,6,Automatic Transmission,Unknown,Gasoline,Left Hand Side,Perfect inside and out,Perfect inside and out,167390,"26,000"
1,chevrolet,silverado,2018.0,White,SUV,8,Automatic Transmission,400 - 500 HP,Gasoline,Left Hand Side,Perfect inside and out,Perfect inside and out,39000,"110,000"
2,mercedes-benz,e-class,2014.0,Blue,Sedan,6,Automatic Transmission,400 - 500 HP,Gasoline,Left Hand Side,Perfect inside and out,Perfect inside and out,200000,"78,000"
3,ferrari,488-spider,2018.0,Red,Hard Top Convertible,8,Automatic Transmission,600 - 700 HP,Gasoline,Left Hand Side,Perfect inside and out,Perfect inside and out,27000,"899,000"
4,renault,dokker,2020.0,White,Wagon,4,Manual Transmission,Less than 150 HP,Gasoline,Left Hand Side,Perfect inside and out,Perfect inside and out,69000,"33,000"

In [6]:
df['company'].nunique(), df['model'].nunique()

(73, 552)

My initial thought was to include the make and model of each vehicle, but the size of both's unique values would cause for far too much encoding to include in the model.  Instead I decided to limit the model's predictors to fields that had 20 or less unique values.

In [7]:
essential_fields = ['price_in_aed', 'year', 'kilometers', 'color', 'body_type', 
                    'no_of_cylinders', 'transmission_type', 'horsepower', 'fuel_type', 
                    'steering_side', 'body_condition', 'mechanical_condition']

df = df[essential_fields]
df.head(1)

,price_in_aed,year,kilometers,color,body_type,no_of_cylinders,transmission_type,horsepower,fuel_type,steering_side,body_condition,mechanical_condition
0,"26,000",2013.0,167390,Silver,SUV,6,Automatic Transmission,Unknown,Gasoline,Left Hand Side,Perfect inside and out,Perfect inside and out

In [8]:
df.shape

(9970, 12)

In [9]:
df.isna().sum()

price_in_aed              0
year                    970
kilometers                0
color                     0
body_type                 0
no_of_cylinders          59
transmission_type         0
horsepower                0
fuel_type                 0
steering_side             0
body_condition            0
mechanical_condition      0
dtype: int64

In [10]:
df['color'].nunique()

17

In [11]:
df['color'].value_counts()

White          3333
Black          2096
Grey           1325
Silver          851
Blue            712
Red             600
Gold            257
Brown           237
Green           142
Orange           79
Other Color      79
Yellow           78
Beige            73
Burgundy         71
Purple           24
Teal              8
Tan               5
Name: color, dtype: int64

In [12]:
df['body_type'].nunique()

13

In [13]:
df['body_type'].value_counts()

SUV                     4566
Sedan                   2748
Coupe                    851
Pick Up Truck            428
Hatchback                344
Sports Car               260
Hard Top Convertible     162
Van                      162
Soft Top Convertible     142
Crossover                114
Other                    102
Wagon                     66
Utility Truck             25
Name: body_type, dtype: int64

In [14]:
df['no_of_cylinders'].nunique()

9

In [15]:
df['no_of_cylinders'].value_counts()

6          3325
4          2993
8          2986
12          366
Unknown      57
3            56
10           53
5            53
None         22
Name: no_of_cylinders, dtype: int64

In [16]:
df['transmission_type'].nunique()

2

In [17]:
df['transmission_type'].value_counts()

Automatic Transmission    9581
Manual Transmission        389
Name: transmission_type, dtype: int64

In [18]:
df['horsepower'].nunique()

11

In [19]:
df['horsepower'].value_counts()

200 - 300 HP        2432
300 - 400 HP        2208
400 - 500 HP        1279
150 - 200 HP        1222
500 - 600 HP        1027
Unknown              814
Less than 150 HP     394
600 - 700 HP         391
700 - 800 HP         153
800 - 900 HP          30
900+ HP               20
Name: horsepower, dtype: int64

In [20]:
df['fuel_type'].nunique()

4

In [21]:
df['fuel_type'].value_counts()

Gasoline    9695
Diesel       167
Electric      85
Hybrid        23
Name: fuel_type, dtype: int64

In [22]:
df['steering_side'].nunique()

2

In [23]:
df['steering_side'].value_counts()

Left Hand Side     9965
Right Hand Side       5
Name: steering_side, dtype: int64

In [24]:
df['body_condition'].nunique()

4

In [25]:
df['body_condition'].value_counts()

Perfect inside and out                9612
No accidents, very few faults          208
A bit of wear & tear, all repaired     119
Normal wear & tear, a few issues        31
Name: body_condition, dtype: int64

In [26]:
df['mechanical_condition'].nunique()

5

In [27]:
df['mechanical_condition'].value_counts()

Perfect inside and out              9822
Minor faults, all fixed              136
Major faults fixed, small remain       8
Ongoing minor & major faults           3
Major faults, all fixed                1
Name: mechanical_condition, dtype: int64

After reviewing the available features, the dataset largely consists of vehicles that were automatic, gasoline powered, and had left-handed steering. Since steering is so heavily skewed to the left-handed variety (less than 1% of values are right-handed), I'll drop that feature.

A number of features had Unknown listed as a category, we'll change that to NaN as it's missing.  We'll also standardize any Other categories to "Other".

In [28]:
df.drop('steering_side', axis=1, inplace=True)

In [29]:
essential_fields = ['price_in_aed', 'year', 'kilometers', 'color', 'body_type', 
                    'no_of_cylinders', 'transmission_type', 'horsepower', 'fuel_type', 
                    'body_condition', 'mechanical_condition']

In [30]:
other = ['Other Color']
unknown = ['Unknown']
df[essential_fields] = df[essential_fields].replace(to_replace = other, value= 'Other')
df[essential_fields] = df[essential_fields].replace(to_replace = unknown, value= np.nan)

In [31]:
df['color'].value_counts()

White       3333
Black       2096
Grey        1325
Silver       851
Blue         712
Red          600
Gold         257
Brown        237
Green        142
Orange        79
Other         79
Yellow        78
Beige         73
Burgundy      71
Purple        24
Teal           8
Tan            5
Name: color, dtype: int64

In [32]:
df['body_type'].value_counts()

SUV                     4566
Sedan                   2748
Coupe                    851
Pick Up Truck            428
Hatchback                344
Sports Car               260
Hard Top Convertible     162
Van                      162
Soft Top Convertible     142
Crossover                114
Other                    102
Wagon                     66
Utility Truck             25
Name: body_type, dtype: int64

In [33]:
df['no_of_cylinders'].value_counts()

6       3325
4       2993
8       2986
12       366
3         56
10        53
5         53
None      22
Name: no_of_cylinders, dtype: int64

In [34]:
df['horsepower'].value_counts()

200 - 300 HP        2432
300 - 400 HP        2208
400 - 500 HP        1279
150 - 200 HP        1222
500 - 600 HP        1027
Less than 150 HP     394
600 - 700 HP         391
700 - 800 HP         153
800 - 900 HP          30
900+ HP               20
Name: horsepower, dtype: int64

In [35]:
df.isna().sum()

price_in_aed              0
year                    970
kilometers                0
color                     0
body_type                 0
no_of_cylinders         116
transmission_type         0
horsepower              814
fuel_type                 0
body_condition            0
mechanical_condition      0
dtype: int64

Now we'll handed our missing values by doing the following:

1. Remove vehicles that do not have a year and have zero kilometers
    - The inference here is that if a vehicle has no kilometers, the vehicle is brand new.
2. Fill remaining missing values in the year column with the dataset's median year, 2016.
3. Remove any remaining vehicles that have zero kilometers (not dependent on missing year anymore)
4. Filling missing values in horsepower (our only categorical feature) with -1 for future encoding.
5. Remove missing values in no_of_cylinders as they cannot be easily infered and they are numerical so they do not require encoding.

In [36]:
df = df[(df['year'].notnull()) | (df['kilometers'] != 0)]
df.shape

(9408, 11)

In [37]:
df.isna().sum()

price_in_aed              0
year                    408
kilometers                0
color                     0
body_type                 0
no_of_cylinders          95
transmission_type         0
horsepower              766
fuel_type                 0
body_condition            0
mechanical_condition      0
dtype: int64

In [38]:
new = (df['year'].isna()) & (df['kilometers'] == 0)
new.sum()

0

In [39]:
df['year'].describe()

count    9000.000000
mean     2015.626444
std         4.735991
min      1953.000000
25%      2014.000000
50%      2016.000000
75%      2019.000000
max      2021.000000
Name: year, dtype: float64

In [40]:
df['year'] = df['year'].fillna(value=2016)
df.shape

(9408, 11)

In [41]:
df.isna().sum()

price_in_aed              0
year                      0
kilometers                0
color                     0
body_type                 0
no_of_cylinders          95
transmission_type         0
horsepower              766
fuel_type                 0
body_condition            0
mechanical_condition      0
dtype: int64

In [42]:
new = (df['kilometers'] == 0)
new.sum()

236

In [43]:
df = df[df['kilometers'] != 0]
df.shape

(9172, 11)

In [44]:
df.isna().sum()

price_in_aed              0
year                      0
kilometers                0
color                     0
body_type                 0
no_of_cylinders          71
transmission_type         0
horsepower              739
fuel_type                 0
body_condition            0
mechanical_condition      0
dtype: int64

In [45]:
df['horsepower'] = df['horsepower'].fillna(value=-1)
df.dropna(inplace=True)

In [46]:
df.isna().sum()

price_in_aed            0
year                    0
kilometers              0
color                   0
body_type               0
no_of_cylinders         0
transmission_type       0
horsepower              0
fuel_type               0
body_condition          0
mechanical_condition    0
dtype: int64

In [47]:
df.shape

(9101, 11)

The next step will be to recode our categorical values so they can processed in our model.  Each feature will have the following encoding:

- One-Hot Encoding (No natural order):
    - color
    - body_type
    - transmission_type
    - fuel_type

- Numerical Encoding with Mapping:
    - Lowest Value receiveing 0 and increaseing by 1 per value
        - horsepower
    - Lowest Condition receiving 0, increasing by 1 per additional value
        - body_condition
        - mechanical_condition

In [48]:
encoded_df = pd.get_dummies(df, 
                            columns= ['color', 'body_type', 'transmission_type', 'fuel_type'], 
                            prefix=['color', 'body_type', 'transmission_type', 'fuel_type'])
encoded_df.head(1)

,price_in_aed,year,kilometers,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,...,body_type_Sports Car,body_type_Utility Truck,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid
0,"26,000",2013.0,167390,6,-1,Perfect inside and out,Perfect inside and out,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [49]:
cylinder_map = {
    'None': 0,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '8': 8,
    '10': 10,
    '12': 12
    }
horsepower_map = {
    -1: -1,
    'Less than 150 HP': 0, 
    '150 - 200 HP': 1,
    '200 - 300 HP': 2,
    '300 - 400 HP': 3,
    '400 - 500 HP': 4,
    '500 - 600 HP': 5,
    '600 - 700 HP': 6,
    '700 - 800 HP': 7,
    '800 - 900 HP': 8,
    '900+ HP': 9 
    }
body_map = {
    'A bit of wear & tear, all repaired': 0,
    'Normal wear & tear, a few issues': 1, 
    'No accidents, very few faults': 2,
    'Perfect inside and out': 3
    }
mech_map = {
    'Ongoing minor & major faults': 0,
    'Major faults fixed, small remain': 1,
    'Major faults, all fixed': 2,
    'Minor faults, all fixed': 3,   
    'Perfect inside and out': 4
    }

encoded_df['no_of_cylinders'] = df['no_of_cylinders'].map(cylinder_map)

encoded_df['horsepower'] = df['horsepower'].map(horsepower_map)

encoded_df['body_condition'] = df['body_condition'].map(body_map)

encoded_df['mechanical_condition'] = df['mechanical_condition'].map(mech_map)

encoded_df.head(1)

,price_in_aed,year,kilometers,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,...,body_type_Sports Car,body_type_Utility Truck,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid
0,"26,000",2013.0,167390,6,-1,3,4,0,0,0,...,0,0,0,0,1,0,0,0,1,0

The next stage of cleaning will be converting data types and units.  This needs to be addressed in the following columns:

- Data Type Conversion
    - price_in_aed
    - year
    - no_of_cylinders
    - horsepower
- Unit Conversion
    - price_in_aed
    - kilometers

In [50]:
encoded_df.dtypes

price_in_aed                                 object
year                                        float64
kilometers                                    int64
no_of_cylinders                               int64
horsepower                                    int64
body_condition                                int64
mechanical_condition                          int64
color_Beige                                   uint8
color_Black                                   uint8
color_Blue                                    uint8
color_Brown                                   uint8
color_Burgundy                                uint8
color_Gold                                    uint8
color_Green                                   uint8
color_Grey                                    uint8
color_Orange                                  uint8
color_Other                                   uint8
color_Purple                                  uint8
color_Red                                     uint8
color_Silver                                  uint8
color_Tan                                     uint8
color_Teal                                    uint8
color_White                                   uint8
color_Yellow                                  uint8
body_type_Coupe                               uint8
body_type_Crossover                           uint8
body_type_Hard Top Convertible                uint8
body_type_Hatchback                           uint8
body_type_Other                               uint8
body_type_Pick Up Truck                       uint8
body_type_SUV                                 uint8
body_type_Sedan                               uint8
body_type_Soft Top Convertible                uint8
body_type_Sports Car                          uint8
body_type_Utility Truck                       uint8
body_type_Van                                 uint8
body_type_Wagon                               uint8
transmission_type_Automatic Transmission      uint8
transmission_type_Manual Transmission         uint8
fuel_type_Diesel                              uint8
fuel_type_Electric                            uint8
fuel_type_Gasoline                            uint8
fuel_type_Hybrid                              uint8
dtype: object

In [51]:
encoded_df['year'] = encoded_df['year'].astype(int)

encoded_df['no_of_cylinders'] = encoded_df['no_of_cylinders'].astype(int)

encoded_df['horsepower'] = encoded_df['horsepower'].astype(int)

encoded_df['miles'] = (encoded_df['kilometers'] * .621371).round(2)

encoded_df['price_usd'] = (encoded_df['price_in_aed'].str.replace(',','').astype(float) * .27229408).round(2)

encoded_df.head(1)

,price_in_aed,year,kilometers,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,...,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid,miles,price_usd
0,"26,000",2013,167390,6,-1,3,4,0,0,0,...,0,0,1,0,0,0,1,0,104011.29,7079.65

In [52]:
encoded_df.drop(['price_in_aed', 'kilometers'], axis=1, inplace=True)
encoded_df.head(1)

,year,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,color_Brown,color_Burgundy,...,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid,miles,price_usd
0,2013,6,-1,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,104011.29,7079.65

In [53]:
encoded_df.dtypes

year                                          int32
no_of_cylinders                               int32
horsepower                                    int32
body_condition                                int64
mechanical_condition                          int64
color_Beige                                   uint8
color_Black                                   uint8
color_Blue                                    uint8
color_Brown                                   uint8
color_Burgundy                                uint8
color_Gold                                    uint8
color_Green                                   uint8
color_Grey                                    uint8
color_Orange                                  uint8
color_Other                                   uint8
color_Purple                                  uint8
color_Red                                     uint8
color_Silver                                  uint8
color_Tan                                     uint8
color_Teal                                    uint8
color_White                                   uint8
color_Yellow                                  uint8
body_type_Coupe                               uint8
body_type_Crossover                           uint8
body_type_Hard Top Convertible                uint8
body_type_Hatchback                           uint8
body_type_Other                               uint8
body_type_Pick Up Truck                       uint8
body_type_SUV                                 uint8
body_type_Sedan                               uint8
body_type_Soft Top Convertible                uint8
body_type_Sports Car                          uint8
body_type_Utility Truck                       uint8
body_type_Van                                 uint8
body_type_Wagon                               uint8
transmission_type_Automatic Transmission      uint8
transmission_type_Manual Transmission         uint8
fuel_type_Diesel                              uint8
fuel_type_Electric                            uint8
fuel_type_Gasoline                            uint8
fuel_type_Hybrid                              uint8
miles                                       float64
price_usd                                   float64
dtype: object

In [54]:
clean_df = encoded_df
clean_df.shape

(9101, 43)

The next step is to remove any outliers that may impact our model's performance.

In [55]:
z_scores = zscore(clean_df['miles'])
mile_outliers = (z_scores > 3) | (z_scores < -3)
clean_df[mile_outliers]

,year,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,color_Brown,color_Burgundy,...,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid,miles,price_usd
1352,2006,8,4,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,71457665.0,30496.94

In [56]:
clean_df = clean_df[~mile_outliers]
clean_df.shape

(9100, 43)

In [57]:
z_scores = zscore(clean_df['price_usd'])
price_outliers = (z_scores > 3) | (z_scores < -3)
clean_df[price_outliers]

,year,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,color_Brown,color_Burgundy,...,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid,miles,price_usd
86,2021,12,6,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1496.26,514635.81
98,2019,12,5,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,621.37,530973.46
170,2021,12,6,3,4,0,1,0,0,0,...,0,0,0,1,0,0,1,0,8154.25,653233.50
237,2021,12,6,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,372.82,612117.09
280,2021,12,6,3,4,0,1,0,0,0,...,0,0,1,0,0,0,1,0,6213.71,645336.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,2016,12,5,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,621.37,721307.02
9838,2021,8,8,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,198.22,1007215.80
9861,2021,12,5,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,628.21,694077.61
9909,2016,12,5,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,62.14,596324.04
9961,2016,10,6,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,202.57,408168.83

In [58]:
clean_df = clean_df[~price_outliers]
clean_df.shape

(8901, 43)

In [59]:
z_scores = zscore(clean_df['year'])
year_outliers = (z_scores > 3) | (z_scores < -3)
clean_df[year_outliers].sort_values(by='year')

,year,no_of_cylinders,horsepower,body_condition,mechanical_condition,color_Beige,color_Black,color_Blue,color_Brown,color_Burgundy,...,body_type_Van,body_type_Wagon,transmission_type_Automatic Transmission,transmission_type_Manual Transmission,fuel_type_Diesel,fuel_type_Electric,fuel_type_Gasoline,fuel_type_Hybrid,miles,price_usd
4338,1953,8,2,3,4,0,0,0,0,0,...,0,0,1,0,0,0,1,0,994.19,25867.94
1344,1954,6,2,3,4,0,1,0,0,0,...,0,0,1,0,0,0,1,0,50974.79,62627.37
152,1960,8,2,3,4,0,1,0,0,0,...,0,0,0,1,0,0,1,0,310.69,95302.93
9412,1964,8,3,3,4,0,0,1,0,0,...,0,0,1,0,0,0,1,0,17504.64,25867.94
2280,1964,4,-1,3,4,0,0,0,0,0,...,0,0,0,1,0,0,1,0,49709.68,21510.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,2001,8,3,3,4,0,0,0,0,0,...,0,0,0,1,0,0,1,0,34307.76,190333.56
2623,2001,8,4,3,4,0,1,0,0,0,...,0,0,1,0,0,0,1,0,108118.55,4765.15
1466,2001,8,3,3,4,0,1,0,0,0,...,0,0,1,0,0,0,1,0,99419.36,15738.60
7993,2001,8,3,3,4,0,0,1,0,0,...,0,0,1,0,0,0,1,0,49709.68,5445.88
9944,2001,8,3,3,4,0,0,1,0,0,...,0,0,1,0,0,0,1,0,24647.92,6807.08

In [60]:
clean_df = clean_df[~year_outliers]
clean_df.shape

(8811, 43)

After cleaning and normalizing, our dataset is 88.38% of its original size. That is a significant reduction, but we came in knowing a key feature, year, was missing 10% of its values. Only losing an additional 1.62% to cleaning and outliers is acceptable.

In [61]:
clean_normal_df = clean_df

In [62]:
clean_normal_df.to_csv('clean_sales_8811.csv', index=False)